#app {
	font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight:400;
}

* {
  color: #ddd;
}

.text-small {
  font-size: 0.85em;
}